Package: reaction
Version: LAST_TAG
Architecture: amd64
Maintainer: ppom <>
Section: utils
Package-Type: deb
Priority: Optional
Homepage: https://framagit.org/ppom/reaction
Description: A daemon that scans program outputs for repeated patterns, and takes action
 A common use of reaction is to scan ssh and web server logs,
 and ban hosts that cause multiple authentication errors.
 reaction doesn't have all the features of the honorable fail2ban,
 but it's ~10x faster and easier to configure.
Tag: admin::automation, admin::logging, admin::monitoring,
 interface::commandline, interface::daemon,
 network::firewall, protocol::ip, role::program,
 security::authentication, security::firewall, security::ids,
 security::log-analyzer, use::login, use::monitor,
 works-with-format::plaintext, works-with::logfile, works-with::text
