Package: reaction
Version: LAST_TAG
Architecture: amd64
Maintainer: ppom <>
Sections: utils
Package-Type: deb
Priority: Optional
Homepage: https://framagit.org/ppom/reaction
Description: A daemon that scans program outputs for repeated patterns, and takes action.
